<!doctype html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/header.ejs %>
<div id = "content">
    <input type = "text" id = "search" placeholder = "Search Here">
    <input type = "button" id = "searchButton" value = "Search!">
</div>

<div class = "videos">

    <%var i = 0%>

    <%Object.keys(test.items).forEach(function(item) {%>
    <%var imgSrc = test.items[item].snippet.thumbnails.medium.url%>

    <div class = "video" id = "video" + "<%-i%>" >
        <div class = "thumbnail">
            <img src = "<%-imgSrc%>">
            <div class="viewStats">
                Views: 9001
            </div>
        </div>
        <div class = "videoDesc">
            <div class = "videoTitle">
                <%item.title%>
            </div>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum."
        </div>
    </div>
    <%i++%>
    <%})%>
</div>

</body>
</html>