<!doctype html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/header.ejs %>
<div id = "content">
    <input type = "text" id = "search" placeholder = "Search Here">
    <input type = "button" id = "searchButton" value = "Search!">
</div>

<div class = "videos">

    <%var i = 0%>

    <%Object.keys(test.items).forEach(function(item) {%>

    <%var imgSrc = test.items[item].snippet.thumbnails.medium.url%>

    <div class = "video" id = "video<%-i%>"
    <%if (i > 9){%>
        style="display: none;"
    <%  }%>
    >


        <div class = "thumbnail">
            <img src = "<%-imgSrc%>">
        </div>
        <div class = "videoDesc">
            <div class = "videoTitle">
                <h3><%-test.items[item].snippet.title%></h3>
            </div>
            <%-test.items[item].snippet.description%>
        </div>
    </div>


    <%i++%>
    <%})%>
</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<script>
    //TODO: Do something with search query
    $("#searchButton").click(function ()
    {
        var query = $("#search").val();
        console.log(query);
    });
</script>

</body>
</html>